<ion-header>
  <ion-navbar>
    <ion-title>{{ "Live For " | translate }}{{ titleText }}</ion-title>
    <ion-buttons end>
      <button *ngIf="allData.tripStat != 'Started'" ion-button icon-only (click)="createTrip()">
        <ion-icon name="play"></ion-icon>
      </button>
      <button *ngIf="allData.tripStat == 'Started'" ion-button icon-only (click)="endTrip()">
        <ion-icon name="radio-button-on"></ion-icon>
      </button>
      <!-- <button ion-button icon-only (click)="showGallery()">
        <ion-icon name="camera"></ion-icon>
      </button> -->
    </ion-buttons>
  </ion-navbar>
  <ion-segment mode="md" color="gpsc" scrollable="true" (ionChange)="segmentChanged($event)" [(ngModel)]="takeAction"
    style="background-color: white;">
    <ion-segment-button class="seg" style="padding-top: 3px;" value="live">
      <img src="assets/imgs/segment/map_active.png" style="width: 30px;" *ngIf="takeAction === 'live'" />
      <img src="assets/imgs/segment/map_inactive.png" style="width: 30px;" *ngIf="takeAction !== 'live'" />
    </ion-segment-button>
    <ion-segment-button style="padding-top: 3px;" value="history">
      <img src="assets/imgs/segment/history_active.png" style="width: 30px;" *ngIf="takeAction === 'history'" />
      <img src="assets/imgs/segment/history_inactive.png" style="width: 30px;" *ngIf="takeAction !== 'history'" />
    </ion-segment-button>
    <ion-segment-button style="padding-top: 3px;" value="trip">
      <img src="assets/imgs/segment/trip_active.png" style="width: 30px;" *ngIf="takeAction === 'trip'" />
      <img src="assets/imgs/segment/trip_inactive.png" style="width: 30px;" *ngIf="takeAction !== 'trip'" />
    </ion-segment-button>
    <ion-segment-button style="padding-top: 3px;" value="notif">
      <img src="assets/imgs/segment/bell_active.png" style="width: 30px;" *ngIf="takeAction === 'notif'" />
      <img src="assets/imgs/segment/bell_inactive.png" style="width: 30px;" *ngIf="takeAction !== 'notif'" />
    </ion-segment-button>
    <ion-segment-button style="padding-top: 3px;" value="car_service">
      <img src="assets/imgs/segment/car_service_active.png" style="width: 30px;" *ngIf="takeAction === 'car_service'" />
      <img src="assets/imgs/segment/car_service_inactive.png" style="width: 30px;"
        *ngIf="takeAction !== 'car_service'" />
    </ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content *ngIf="!hideMe">
  <div *ngIf="showOtherBtns">
    <ion-fab right style="margin-top:85%" showWhen="ios">
      <button ion-fab color="gpsc" mini (click)="reCenterMe()">
        <ion-icon name="locate"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab right style="margin-top:98%" showWhen="ios">
      <button color="gpsc" ion-fab (click)="zoomin()" mini>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab right style="margin-top:111%" showWhen="ios">
      <button color="gpsc" ion-fab (click)="zoomout()" mini>
        <ion-icon name="remove"></ion-icon>
      </button>
    </ion-fab>


    <ion-fab left style="margin-top:59%" showWhen="ios">
      <button ion-fab [ngStyle]="{'background-color': policeButtonColor}" mini (click)="showNearby('police')">
        <ion-icon name="custom-station" [ngStyle]="{'color': policeColor}"></ion-icon>
      </button>
    </ion-fab>

    <ion-fab left style="margin-top:72%" showWhen="ios">
      <button ion-fab [ngStyle]="{'background-color': petrolButtonColor}" mini (click)="showNearby('petrol')">
        <ion-icon name="custom-fuel" [ngStyle]="{'color': petrolColor}"></ion-icon>
      </button>
    </ion-fab>

    <ion-fab left style="margin-top:85%" showWhen="ios">
      <button ion-fab color="gpsc" mini (click)="refreshMe1()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-fab>

    <ion-fab left style="margin-top:98%" showWhen="ios">
      <button ion-fab [ngStyle]="{'background-color': streetviewButtonColor}" mini (click)="streetView()">
        <ion-icon name="custom-street" [ngStyle]="{'color': streetColor}"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab left style="margin-top:111%" showWhen="ios">
      <button ion-fab [ngStyle]="{'background-color': navigateButtonColor}" mini (click)="navigateFromCurrentLoc()">
        <ion-icon name="navigate" [ngStyle]="{'color': navColor}"></ion-icon>
      </button>
    </ion-fab>
  </div>

  <ion-fab right style="margin-top:85%" showWhen="android">
    <button ion-fab color="gpsc" mini (click)="reCenterMe()">
      <ion-icon name="locate"></ion-icon>
    </button>
  </ion-fab>
  <ion-fab right style="margin-top:98%" showWhen="android">
    <button color="gpsc" ion-fab (click)="zoomin()" mini>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <ion-fab right style="margin-top:111%" showWhen="android">
    <button color="gpsc" ion-fab (click)="zoomout()" mini>
      <ion-icon name="remove"></ion-icon>
    </button>
  </ion-fab>


  <ion-fab left style="margin-top:59%" showWhen="android">
    <button ion-fab [ngStyle]="{'background-color': policeButtonColor}" mini (click)="showNearby('police')">
      <ion-icon name="custom-station" [ngStyle]="{'color': policeColor}"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab left style="margin-top:72%" showWhen="android">
    <button ion-fab [ngStyle]="{'background-color': petrolButtonColor}" mini (click)="showNearby('petrol')">
      <ion-icon name="custom-fuel" [ngStyle]="{'color': petrolColor}"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab left style="margin-top:85%" showWhen="android">
    <button ion-fab color="gpsc" mini (click)="refreshMe1()">
      <ion-icon name="refresh"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab left style="margin-top:98%" showWhen="android">
    <button ion-fab [ngStyle]="{'background-color': streetviewButtonColor}" mini (click)="streetView()">
      <ion-icon name="custom-street" [ngStyle]="{'color': streetColor}"></ion-icon>
    </button>
  </ion-fab>
  <ion-fab left style="margin-top:111%" showWhen="android">
    <button ion-fab [ngStyle]="{'background-color': navigateButtonColor}" mini (click)="navigateFromCurrentLoc()">
      <ion-icon name="navigate" [ngStyle]="{'color': navColor}"></ion-icon>
    </button>
  </ion-fab>


  <ion-row *ngIf="showDistDuration"
    style="margin-top:72%; background-color: rgb(0, 0, 0, 0.5); font-size: 0.8em; color: white;border-radius: 25px;width: 70%;margin: auto; padding:5px;">
    <ion-col style="background-color: transparent; text-align: center;" col-6>
      {{ "Distance" | translate }} {{ expectation.distance }}
    </ion-col>
    <ion-col style="background-color: transparent; text-align: center;" col-6>
      {{ "Time" | translate }} {{ expectation.duration }}
    </ion-col>
  </ion-row>
  <div id="map_canvas_single_device">
    <ion-row>
      <ion-col>
        <ion-fab top left>
          <button ion-fab color="light" mini (click)="onClickMainMenu()">
            <ion-icon color="gpsc" name="map"></ion-icon>
          </button>
          <ion-fab-list side="bottom">
            <button style="margin: 0 2px;" ion-fab mini (click)="onClickMap('HYBRID')" color="gpsc">
              S
            </button>
            <button style="margin: 1px 0px 1px 0px;" ion-fab mini (click)="onClickMap('TERRAIN')" color="gpsc">
              T
            </button>
            <button style="margin: 1px 0px 1px 0px;" ion-fab mini (click)="onClickMap('NORMAL')" color="gpsc">
              N
            </button>
          </ion-fab-list>
        </ion-fab>
      </ion-col>
      <ion-col>
        <p class="blink" style="text-align: center;font-size:24px;color: green;font-weight: 600;"
          *ngIf="vehicle_speed <= 60">
          {{ vehicle_speed }}
          <span
            style="font-size:16px;">{{ (measurementUnit == 'MKS') ? ("Km/hr" | translate) : ("Miles/hr" | translate)}}</span>
        </p>
        <p class="blink" style="text-align: center;font-size:24px;color: red;font-weight: 600;"
          *ngIf="vehicle_speed > 60">
          {{ vehicle_speed }}
          <span
            style="font-size:16px;">{{ (measurementUnit == 'MKS') ? ("Km/hr" | translate) : ("Miles/hr" | translate)}}</span>
        </p>
      </ion-col>
      <ion-col>
        <ion-fab top right>
          <button ion-fab color="gpsc" mini>
            <ion-icon name="arrow-dropdown"></ion-icon>
          </button>
          <ion-fab-list side="bottom">
            <button color="gpsc" style="margin: 1px 0px 1px 0px;" ion-fab *ngIf="showShareBtn"
              (click)="shareLive($event)">
              <ion-icon name="share"></ion-icon>
            </button>
            <button color="gpsc" style="margin: 1px 0px 1px 0px;" ion-fab (click)="onSelectMapOption('mapTrail')"
              [ngStyle]="{'background-color': eyeBtnColor}">
              <ion-icon name="eye" [ngStyle]="{'color': eyeColor}"></ion-icon>
            </button>
            <button color="gpsc" style="margin: 1px 0px 1px 0px;" ion-fab (click)="onSelectMapOption('mapHideTraffic')">
              <img src="assets/icon/trafficON.png" *ngIf="mapHideTraffic" />
              <img src="assets/icon/trafficOFF.png" *ngIf="!mapHideTraffic" />
            </button>
            <button color="gpsc" style="margin: 1px 0px 1px 0px;" ion-fab (click)="settings()">
              <ion-icon name="cog"></ion-icon>
            </button>
            <button color="gpsc" style="margin: 1px 0px 1px 0px;" ion-fab (click)="addPOI()">
              <ion-icon name="flag"></ion-icon>
            </button>
          </ion-fab-list>
        </ion-fab>
      </ion-col>
    </ion-row>

    <ion-fab right style="margin-top:85%" showWhen="ios">
      <button ion-fab color="gpsc" mini (click)="reCenterMe()">
        <ion-icon name="locate"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab right style="margin-top:98%" showWhen="ios">
      <button color="gpsc" ion-fab (click)="zoomin()" mini>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab right style="margin-top:111%" showWhen="ios">
      <button color="gpsc" ion-fab (click)="zoomout()" mini>
        <ion-icon name="remove"></ion-icon>
      </button>
    </ion-fab>


    <ion-fab left style="margin-top:59%" showWhen="ios">
      <button ion-fab [ngStyle]="{'background-color': policeButtonColor}" mini (click)="showNearby('police')">
        <ion-icon name="custom-station" [ngStyle]="{'color': policeColor}"></ion-icon>
      </button>
    </ion-fab>

    <ion-fab left style="margin-top:72%" showWhen="ios">
      <button ion-fab [ngStyle]="{'background-color': petrolButtonColor}" mini (click)="showNearby('petrol')">
        <ion-icon name="custom-fuel" [ngStyle]="{'color': petrolColor}"></ion-icon>
      </button>
    </ion-fab>

    <ion-fab left style="margin-top:85%" showWhen="ios">
      <button ion-fab color="gpsc" mini (click)="refreshMe1()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-fab>

    <ion-fab left style="margin-top:98%" showWhen="ios">
      <button ion-fab [ngStyle]="{'background-color': streetviewButtonColor}" mini (click)="streetView()">
        <ion-icon name="custom-street" [ngStyle]="{'color': streetColor}"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab left style="margin-top:111%" showWhen="ios">
      <button ion-fab [ngStyle]="{'background-color': navigateButtonColor}" mini (click)="navigateFromCurrentLoc()">
        <ion-icon name="navigate" [ngStyle]="{'color': navColor}"></ion-icon>
      </button>
    </ion-fab>
  </div>
  <div id="viewParanoma" style="width: 100%;height: 300px;"></div>
</ion-content>
<div *ngIf="showActionSheet">
  <!-- <div class="divPlan"> -->
  <ion-bottom-drawer [(state)]="drawerState" [dockedHeight]="dockedHeight" [shouldBounce]="shouldBounce"
    [distanceTop]="distanceTop" [minimumHeight]="minimumHeight" [transition]="transition" (click)="setDocHeight()">
    <div class="drawer-content">
      <ion-row style="margin-bottom: -10px;">
        <ion-col col-9 no-padding>
          <p padding-left style="font-size: 13px; color:cornflowerblue;">
            {{ "Last Updated On" | translate }} &mdash;
            {{ last_ping_on | date: "medium" }}
          </p>
        </ion-col>
        <ion-col col-3 no-padding style="text-align: right; padding-right: 20px;">

          <p style="font-size: 13px;">
            <ion-icon name="battery-charging" style="color: #11a46e;"></ion-icon>
            &nbsp;{{battery_percent}} %
          </p>
        </ion-col>
      </ion-row>
      <p padding-left style="font-size: 13px" *ngIf="!address">N/A</p>
      <p padding-left style="font-size: 13px" *ngIf="address">{{ address }}</p>
      <hr />
      <ion-row>
        <ion-col width-1 style="text-align:center">
          <img src="assets/imgs/statusIcons/ign_red.png" *ngIf="last_ACC == '0'" width="20" height="20" />
          <img src="assets/imgs/statusIcons/ign_green.png" *ngIf="last_ACC == '1'" width="20" height="20" />
          <img src="assets/imgs/statusIcons/ign_idle.png" *ngIf="last_ACC == null" width="20" height="20" />
          <p>{{ "IGN" | translate }}</p>
        </ion-col>
        <ion-col width-1 style="text-align:center">
          <img src="assets/imgs/statusIcons/ac_na.png" *ngIf="acModel == null" width="20" height="20" />
          <img src="assets/imgs/statusIcons/ac_present.png" *ngIf="acModel == '1'" width="20" height="20" />
          <img src="assets/imgs/statusIcons/ac_empty.png" *ngIf="acModel == '0'" width="20" height="20" />
          <p>{{ "AC" | translate }}</p>
        </ion-col>
        <ion-col width-1 style="text-align:center">
          <img src="assets/imgs/statusIcons/fuel_available.png" *ngIf="currentFuel != null" width="20" height="20" />
          <img src="assets/imgs/statusIcons/fuel_empty.png" *ngIf="currentFuel == null" width="20" height="20" />
          <p>{{ "FUEL" | translate }}</p>
        </ion-col>
        <ion-col width-1 style="text-align:center">
          <img src="assets/imgs/statusIcons/power_na.png" *ngIf="power == null" width="20" height="20" />
          <img src="assets/imgs/statusIcons/pwer_disconnected.png" *ngIf="power == '0'" width="20" height="20" />
          <img src="assets/imgs/statusIcons/power_connected.png" *ngIf="power == '1'" width="20" height="20" />
          <p>{{ "POWER" | translate }}</p>
        </ion-col>
        <ion-col width-1 style="text-align:center">
          <img src="assets/imgs/statusIcons/gps_na.png" *ngIf="gpsTracking == null" width="20" height="20" />
          <img src="assets/imgs/statusIcons/gps_notPresent.png" *ngIf="gpsTracking == '0'" width="20" height="20" />
          <img src="assets/imgs/statusIcons/gps_present.png" *ngIf="gpsTracking == '1'" width="20" height="20" />
          <p>{{ "GPS" | translate }}</p>
        </ion-col>
        <ion-col width-1 style="text-align:center">
          <ion-icon name="thermometer" *ngIf="tempreture == null" style="color: gray; font-size: 1.6em;"></ion-icon>
          <ion-icon name="thermometer" *ngIf="tempreture == '0'" color="danger" style="font-size: 1.6em;"></ion-icon>
          <ion-icon name="thermometer" *ngIf="tempreture == '1'" color="secondary" style="font-size: 1.6em;"></ion-icon>
          <p>{{ "Temp" | translate }}</p>
        </ion-col>
        <ion-col width-1 style="text-align:center">
          <img src="assets/imgs/statusIcons/car_no_data.png" *ngIf="door == null" width="20" height="20" />
          <img src="assets/imgs/statusIcons/car_door_open.png" *ngIf="door == 0" width="20" height="20" />
          <img src="assets/imgs/statusIcons/car_door_close.png" *ngIf="door == 1" width="20" height="20" />
          <p>{{ "Door" | translate }}</p>
        </ion-col>
      </ion-row>
      <hr />
      <ion-row>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px; font-weight: bold; margin: 0px; padding: 0px;" *ngIf="!total_odo">
            N/A
          </p>
          <p style="font-size: 14px; font-weight: bold; margin: 0px; padding: 0px;" *ngIf="total_odo">
            {{ total_odo | number: "1.0-2" }}
          </p>
          <p style="font-size: 13px">{{ "Odometer" | translate }}</p>
        </ion-col>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px; font-weight: bold; margin: 0px; padding: 0px;" *ngIf="!vehicle_speed">
            0 {{ (measurementUnit == 'MKS') ? ("Km/hr" | translate) : ("Miles/hr" | translate)}}
          </p>
          <p style="font-size: 14px; font-weight: bold; margin: 0px; padding: 0px;" *ngIf="vehicle_speed">
            {{ vehicle_speed }} {{ (measurementUnit == 'MKS') ? ("Km/hr" | translate) : ("Miles/hr" | translate)}}
          </p>
          <p style="font-size: 13px">
            {{ "Speed" | translate }}
          </p>
        </ion-col>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px; font-weight: bold; margin: 0px; padding: 0px;" *ngIf="fuel">
            {{ fuel }}
          </p>
          <p style="font-size: 14px; font-weight: bold; margin: 0px; padding: 0px;" *ngIf="!fuel">N/A</p>
          <p style="font-size: 13px">{{ "Fuel" | translate }}</p>
        </ion-col>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px; font-weight: bold; margin: 0px; padding: 0px;" *ngIf="voltage">
            {{ voltage | number: "1.0-2" }}
          </p>
          <p style="font-size: 14px; font-weight: bold; margin: 0px; padding: 0px;" *ngIf="!voltage">N/A</p>
          <p style="font-size: 13px">{{ "Voltage" | translate }}</p>
        </ion-col>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px; font-weight: bold; margin: 0px; padding: 0px;" *ngIf="tempreture">
            {{ tempreture | number: "1.0-2" }}
          </p>
          <p style="font-size: 14px; font-weight: bold; margin: 0px; padding: 0px;" *ngIf="!tempreture">N/A</p>
          <p style="font-size: 13px">{{ "Temp" | translate }}</p>
        </ion-col>
      </ion-row>
      <hr />
      <ion-scroll scrollX="true" style="width:100vw; height:45px">
        <ion-row nowrap class="headerChip">
          <div *ngFor="let tabName of total_days; let idx = index"
            [ngClass]="showSelectedTabArray[idx].showSelectedTab ? 'headerChipGreen' : 'headerChipGray'">
            <ion-chip (click)="changeData(tabName, idx)">
              <ion-label><b><span style="font-size: 1.2em;">{{tabName | date:'dd'}}</span></b> {{tabName | date:'MMM'}}
              </ion-label>
              <div></div>
            </ion-chip>
          </div>
        </ion-row>
      </ion-scroll>
      <ion-row
        style="background-image: linear-gradient(to right top, #d80622, #c0002d, #a60033, #8b0935, #6f1133); padding: 5px">
        <ion-col col-4 style="padding-right: 5px;">
          <ion-row>
            <ion-col col-3 no-padding>
              <img src="assets/imgs/car_circle.png" style="width: 35px;" />
            </ion-col>
            <ion-col col-9 style="margin: auto; padding: 0px 0px 0px 5px;border-right: 1px solid white;">
              <p style="margin: 0px;font-size: 1em;color: white;font-weight: 500;">
                {{ today_running ? today_running : '0h 0min' }}</p>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-4 style="padding-right: 5px;">
          <ion-row>
            <ion-col col-3 no-padding>
              <img src="assets/imgs/distance_circle.png" style="width: 35px;" />
            </ion-col>
            <ion-col col-9 style="margin: auto;padding: 0px 0px 0px 5px;border-right: 1px solid white;">
              <p style="margin: 0px;font-size: 1em;color: white;font-weight: 500;">
                {{ todays_odo ? (todays_odo | number: "1.0-2") : 0 }}
                {{ (measurementUnit == 'MKS') ? ("Kms" | translate) : ("Miles" | translate)}}</p>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-4>
          <ion-row>
            <ion-col col-3 no-padding>
              <img src="assets/imgs/parking_circle.png" style="width: 35px;" />
            </ion-col>
            <ion-col col-9 style="margin: auto;padding: 0px 0px 0px 5px;">
              <p style="margin: 0px;font-size: 1em;color: white;font-weight: 500;">
                {{ today_stopped ? today_stopped : '0h 0min' }}</p>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <div *ngIf="showString === 'start'" style="text-align: center;">
        <ion-spinner color="gpsc"></ion-spinner>
        <p style="font-size: 1.2em;">Fetching data...</p>
      </div>
      <div *ngIf="showString === 'No Data Found!'" style="text-align: center;">
        <p style="font-size: 1.2em;">{{showString}}</p>
      </div>
      <ion-scroll scrollY="true" style="height: 300px;">
        <ion-row>
          <ion-col col-12 *ngFor="let item of sevenDaysData">
            <ion-row style="background: white;" *ngIf="item.type === 'STOPPAGE'">
              <ion-col col-2 style="text-align: right; margin: auto;">
                <p style="margin: 0px; color: black; font-weight: 500; font-size: 1em;">
                  {{item.start_time | date:'hh'}}:{{item.start_time | date:'mm'}}<span
                    style="font-weight: 400; font-size: 0.8em;">{{item.start_time | date:'aa'}}</span></p>
              </ion-col>
              <ion-col col-1 class="content-block" style="border-right: 1px solid #BC3F30;">
                <img src="assets/imgs/parking_circle.png" alt="parking">
              </ion-col>
              <ion-col col-9 style="padding: 10px 0px;">
                <ion-row>
                  <ion-col col-12 style="padding-left: 20px;">
                    <ion-row>
                      <ion-col col-1 style="margin: auto;">
                        <ion-icon ios="ios-time" md="md-time" style="color: #6f1133;font-size: 1.5em;"></ion-icon>
                      </ion-col>
                      <ion-icon col-11>
                        <p style="margin: 0px; font-size: 0.9em; font-weight: 500;">
                          {{parseMillisecondsIntoReadableTime(item?.event_time)}}</p>
                      </ion-icon>
                    </ion-row>
                  </ion-col>
                  <ion-col col-12 style="padding-left: 20px;">
                    <p style="margin: 0px; color: gray;font-size: 11px">N/A</p>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>

            <ion-row style="background: #ece3f6;" *ngIf="item.type === 'MOVING'">
              <ion-col col-2 style="text-align: right; margin: auto;">
                <p style="margin: 0px; color: black; font-weight: 500; font-size: 1em;">
                  {{item.start_time | date:'hh'}}:{{item.start_time | date:'mm'}}<span
                    style="font-weight: 400; font-size: 0.8em;">{{item.start_time | date:'aa'}}</span></p>
              </ion-col>
              <ion-col col-1 class="content-block" style="border-right: 1px solid #9a62c3;">
                <img src="assets/imgs/car_circle.png" alt="parking">
              </ion-col>
              <ion-col col-9 style="padding-left: 13px;">
                <ion-row>
                  <ion-col col-1 style="margin: auto;margin-right: 0px;">
                    <ion-icon ios="ios-time" md="md-time" style="color: #6f1133;font-size: 1.5em;"></ion-icon>
                  </ion-col>
                  <ion-icon col-4 style="margin: auto;">
                    <p style="margin-left: -5px; font-size: 0.9em; font-weight: 500;">
                      {{parseMillisecondsIntoReadableTime(item?.event_time)}}</p>
                  </ion-icon>
                  <ion-col col-1 style="margin: auto;">
                    <ion-icon ios="ios-walk" md="md-walk" style="color: #6f1133;font-size: 1.5em;"></ion-icon>
                  </ion-col>
                  <ion-icon col-4 style="margin: auto;">
                    <p style="margin-left: -5px; font-size: 0.9em; font-weight: 500;">
                      {{meterIntoKelometer(item?.distance) | number: "1.0-2"}}{{ (measurementUnit == 'MKS') ? ("Kms" | translate) : ("Miles" | translate)}}
                    </p>
                  </ion-icon>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-scroll>
    </div>
  </ion-bottom-drawer>
</div>

<div *ngIf="showFooter">
  <ion-bottom-drawer [(state)]="drawerState1" [dockedHeight]="dockedHeight1" [shouldBounce]="shouldBounce"
    [distanceTop]="distanceTop1" [minimumHeight]="minimumHeight1">
    <div class="drawer-content">
      <p style="font-size:1.2em; color:black;">
        {{ "Share Live Vehicle" | translate }}
      </p>
      <ion-row>
        <ion-col col-4 style="padding: 5px">
          <button ion-button block color="{{ condition }}" (click)="sharedevices('15mins')">
            {{ "15 mins" | translate }}
          </button>
        </ion-col>
        <ion-col col-4 style="padding: 5px">
          <button ion-button block color="{{ condition1 }}" (click)="sharedevices('1hour')">
            {{ "1 hour" | translate }}
          </button>
        </ion-col>
        <ion-col col-4 style="padding: 5px">
          <button ion-button block color="{{ condition2 }}" (click)="sharedevices('8hours')">
            {{ "8 hours" | translate }}
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4></ion-col>
        <ion-col col-4></ion-col>
        <ion-col col-4 style="text-align: right;">
          <ion-fab style="right: calc(10px + env(safe-area-inset-right));">
            <button ion-fab mini (click)="shareLivetemp()" color="gpsc">
              <ion-icon name="send" color="black"></ion-icon>
            </button>
          </ion-fab>
        </ion-col>
      </ion-row>
    </div>
  </ion-bottom-drawer>
</div>